input,button,textarea {
  font-family: arial,sans-serif;
  font-size: 13px
}

#masthead-positioner {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1999999999;
}

.same-logo {
    pointer-events: none;
}

body #footer-container {
  margin-top: -141px;
  background-color: #f2f2f2;
  border-top: 1px solid #e2e2e2
}

.site-center-aligned #footer-container {
  background-color: #fff
}

.search {
    position: fixed;
    align-items: center;
    top: 10px;
    left: 400px;
    z-index: 999;
    width: 60px;
    height: 35px;
    background-color: green;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 0 0 40px;
    padding: 0 4px;
    flex: 1;
    flex-basis: 1e-9px;
}

.search-input {
    position: fixed;
    top: 15px;
    left: 470px;
    margin: 0 0 0 40px;
    padding: 0 4px;
    width: 330px;
    height: 23px;
    flex: 1;
    flex-basis: 1e-9px;
    font-size: 10px;
}

#bottom-bar.full-width-line .wf-container-bottom,#bottom-bar.solid-bg .wf-container-bottom,.empty-footer.solid-bg #bottom-bar.full-width-line,.empty-footer.solid-bg .wf-container-bottom,.footer.full-width-line .wf-container-footer,.footer.solid-bg .wf-container-footer {
    border-top: none
}

.header-side-left.footer-overlap #footer,.header-side-right.footer-overlap #footer,.overlay-navigation.header-side-line.footer-overlap #footer {
    box-sizing: border-box
}

#footer.solid-bg {
    background: #1a1c20 none repeat center top;
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}

.masthead:not(.side-header):not(.side-header-v-stroke):not(.side-header-menu-icon) .header-bar,
.ph-wrap {
    padding-right: 50px;
    padding-left: 50px;
}
.top-header .mega-full-width > .dt-mega-menu-wrap {
    width: calc(1300px - 50px - 50px);
}

.masthead:not(.side-header) .header-bar {
    position: relative;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -ms-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-align-content: stretch;
    align-content: stretch;
    -ms-flex-line-pack: stretch;
    -ms-flex-pack: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: justify;
}   

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.scroll-top svg {
    text-transform: none;
    width: 24px;
    line-height: 1;
    fill: #fff;
}

.masthead.shadow-decoration:not(.side-header-menu-icon):not(#phantom):not(.masthead-mobile-header) {
    box-shadow: 0 0 15px 1px rgba(0,0,0,0.07);
}

.masthead:not(.side-header) {
    max-width: 100%;
}

.main-nav > li:not(.wpml-ls-item) > a {
    color: #78bbe7;
}

a, a:hover {
    color: var(--the7-links-color);
}

.masthead:not(.side-header):not(.side-header-v-stroke):not(.side-header-menu-icon) {
    box-sizing: border-box;
}

.l-to-r-line > li > a i.underline {
    bottom: -6px;
    background-color: #78bbe7;
    background: #78bbe7;
    background: -webkit-linear-gradient(to left, #78bbe7 30%, #2ad2c9 100%);
    background: linear-gradient(to left, #78bbe7 30%, #2ad2c9 100%);
    height: 2px;
}

.main-nav > li > a .menu-text {
    font: normal 500 16px / 20px "Raleway", Helvetica, Arial, Verdana, sans-serif;
    text-transform: uppercase;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

#bg-masthead-signin {
  float: right;
  margin-top: 3px;
  margin-left: 25px;
}

.inline-header.right .main-nav {
  -ms-flex-pack: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: end;
}

#footer > .wf-wrap, #footer #bottom-bar > .wf-wrap {
    padding: 0 50px 0 50px;
}
#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap {
    width: 1300px;
}

.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
    box-sizing: border-box;
}

#footer .wf-wrap {
    padding: 0 50px 0 50px;
}
.wf-wrap {
    max-width: 100%;
    padding: 0 44px;
    margin: 0 auto;
}

.footer {
    -ms-grid-column: 1;
    -ms-grid-row: 6;
    grid-area: footer;
}

#bottom-bar {
    font-size: var(--the7-text-small-font-size);
    line-height: var(--the7-text-small-line-height);
    color: #ffffff;
}

.bottom-text-block {
    text-align: right;
}
.main-nav>li {
  position: relative;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}

.main-nav .sub-nav > li:not(.wpml-ls-item) > a .menu-text {
  color: #ffffff;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 1072px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  width: 1072px;
  height: 755px;
}

.bg-uix-button-primary:hover {
  border-color: #27e642;
  background-color: #27e63c;
}

.bg-uix-button-primary, a.bg-uix-button-primary .bg-uix-button-content {
  color: #fff;
}

.bg-uix-button-primary, body .bg-uix-button-primary[disabled] {
  background-color: #1bcc27;
  border-color: #1b7fcc;
}
.bg-uix-button {
  height: 2.55em;
  padding: 0 0.9em;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.bg-uix-button-default, .bg-uix-button-default[disabled], .bg-uix-button-default[disabled]:hover, .bg-uix-button-default[disabled]:active, .bg-uix-button-default[disabled]:focus {
  border-color: #d3d3d3;
  background: #f8f8f8;
  color: #333;
}

.hid {
  display: none;
}

#masthead-search.consolidated-form input {
  outline: none;
  height: 100%;
}

#masthead-search-terms input {
  display: inline-block;
  width: 100%;
  padding: 2px 6px;
  margin: 0;
  border: 0;
  outline: none;
  background: transparent;
  font-size: 16px;
  _position: absolute;
  _left: 0;
  _width: 100%;
  zoom: 1;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-term {
  width: 100%;
}

#masthead-search.consolidated-form #masthead-search-terms label {
  height: 100%;
}

#masthead-search-terms label {
  display: block;
  _margin-top: 5px;
}

#masthead-search label {
  height: 100%;
  line-height: 30px;
  padding: 0;
  border: none;
  overflow: hidden;
}

#masthead-search-terms {
  position: relative;
  overflow: hidden;
  height: 29px;
  margin: 0 0 2px;
  _padding-left: 5px;
  _padding-right: 5px;
  font-size: 14px;
  line-height: 30px;
  background-color: #fff;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color .2s ease;
  -webkit-transition: border-color .2s ease;
  transition: border-color .2s ease;
}
.masthead-search-terms-border {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px #eee;
}

#bg-masthead #search-btn .bg-uix-button-content {
  margin: 0 25px;
}

#masthead-search .search-btn-component .bg-uix-button-content {
  display: block;
  border: none;
  padding: 0;
  opacity: .6;
  text-indent: -10000px;
  background: no-repeat url(search.png) -27px -399px;
  background-size: auto;
  background-size: 25px;
  /* width: 14px;*/
  height: 14px;
  box-shadow: none;
}

#masthead-search .search-btn-component input.submit {
  background: url(search.png) no-repeat 10px;
  background-size: 25px;
}

#masthead-search .search-btn-component input.submit {
  position: absolute;
  top: 2px;
  right: 1px;
  margin: 1px;
  height: 30px;
  padding: 3px 19px 3px;
  font-family: 'Rokkitt', serif;
  font-weight: normal;
  font-size: 1.35em;
  color: #FFF;
  border: 0;
  cursor: pointer;
  /*background-color: #a94d8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(169, 77, 143)), to(rgb(107, 36, 91)));
  background-image: -webkit-linear-gradient(top, rgb(169, 77, 143), rgb(107, 36, 91));
  background-image: -moz-linear-gradient(top, rgb(169, 77, 143), rgb(107, 36, 91));
  background-image: -o-linear-gradient(top, rgb(169, 77, 143), rgb(107, 36, 91));
  background-image: -ms-linear-gradient(top, rgb(169, 77, 143), rgb(107, 36, 91));
  background-image: linear-gradient(top, rgb(169, 77, 143), rgb(107, 36, 91));
  -webkit-background-clip: padding-box;
  background: #762D65 url(search.png) no-repeat 10px;*/
  background-size: 20px;
}

#bg-masthead .bg-masthead-logo-container {
  float: left;
  position: relative;
  margin-top: 2px;
  width: 200px;
}

#bg-masthead .bg-masthead-logo-container #logo-container {
  display: inline-block;
  vertical-align: middle;
}

#bg-masthead #logo {
  background: no-repeat url(logo_completo.png) -27px -1092px;
  background-size: auto;
  width: 162px;
  height: 40px;
}

#bg-masthead {
  margin: 0 auto;
}

#bg-masthead #search-btn {
  padding: 0;
}

#masthead-search .search-btn-component, #masthead-search .search-btn-component .start {
  border-left: 0;
  -moz-border-radius-topleft: 0;
  border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  border-bottom-left-radius: 0;
}

#masthead-search .search-btn-component {
  float: right;
  padding: 0 0.91em;
  opacity: 1;
  filter: none;
  _margin-left: -3px;
}

#masthead-search .search-btn-component {
  height: 29px;
}

#masthead-search {
  position: relative;
  padding: 0;
  margin-top: 3px;
  overflow: hidden;
  max-width: 650px;
}

#masthead_child_div {
  width: 970px;
  margin: 0 auto;
}

#bg-masthead-content {
  overflow: hidden;
}

.bg-uix-button-default, .bg-uix-button-default[disabled], .bg-uix-button-default[disabled]:hover, .bg-uix-button-default[disabled]:active, .bg-uix-button-default[disabled]:focus {
  border-color: #d3d3d3;
  background: #f8f8f8;
  color: #333;
}

.bg-uix-button {
  display: inline-block;
  height: 28px;
  border: solid 1px transparent;
  padding: 0 10px;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}

.all-tabs {
  position: absolute;
  top: 10%;
  left: 20%;
}

body>#body-container {
  height: auto;
  min-height: 100%;
}

#content-container, #body-container {
  padding-bottom: 191px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, #body-container {
  height: 100%;
}

.individual-feed {
  position: relative;
}

.guide-pinned.show-guide .guide-pinning-enabled #footer-container {
  min-width: 713px;
  padding-left: 260px;
}

#footer .bg-uix-button-icon-footer-language {
  background-size: auto;
  width: 25px;
  height: 15px;
}

.bg-uix-button .bg-uix-button-icon, .bg-uix-button .bg-uix-button-arrow {
  display: inline-block;
  vertical-align: middle;
}

.bg-uix-button img, .bg-uix-button-icon-wrapper+.bg-uix-button-content {
  vertical-align: middle;
}

.bg-base-gutter {
  min-width: 943px;
  padding-left: 30px;
  padding-right: 30px;
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}

body {
  background: #f1f1f1;
  font-family: arial, sans-serif;
  font-size: 13px;
}

body {
  line-height: 1;
  text-align: left;
  text-align: start;
}

#footer-logo img {
  vertical-align: middle;
  background-size: auto;
  width: 72px;
  height: 72px;
}

#footer-links {
  padding: 15px 0 15px 8px;
}

#footer-links-primary a {
  color: #333;
}

#footer-links-primary {
  margin-bottom: 8px;
  font-weight: bold;
}

body > div .wrap-top {
  background-color: #3C3C3B;
}

body > div .wrap-top {
  background: linear-gradient(90deg, #475641, #434d59, #4c4652, #5e3845, #614a38, #615138);
}
body > div .wrap-top {
  background-color: #3C3C3B;
}
body > div .wrap-top {
  background: linear-gradient(90deg, #475641, #434d59, #4c4652, #5e3845, #614a38, #615138);
}

.container, aside.banners-footer, footer .bloque-footer-1, footer .bloque-footer-2, footer .bloque-footer-medios {
  width: 1170px;
}

.secondary-nav {
  padding: 7px 0 4px 0;
}
.container {
  width: 1170px;
  overflow: visible;
  position: relative;
  clear: both;
  margin: 0 auto;
}
.secondary-nav {
  padding: 10px 0 10px 0;
  text-align: right;
}
.secondary-nav {
  padding: 7px 0 4px 0;
}
.container {
  width: 1170px;
  overflow: visible;
  position: relative;
  clear: both;
  margin: 0 auto;
}
.secondary-nav {
  padding: 10px 0 10px 0;
  text-align: right;
}

#animado div.envio p, #animado div.portes p {
  background: none;
  padding-left: 0px;
  font-family: 'Roboto';
  padding-right: 2px;
}

#animado .info {
  margin-top: 0px;
  margin-left: 0px;
  background: #378c42;
  width: 12px;
  text-align: center;
  border-radius: 11px;
  color: #fff;
  height: 12px;
  cursor: context-menu;
  font-family: monospace;
  padding: 0;
  margin: 0;
  line-height: 13px;
  font-size: 10px;
  display: inline-block;
  vertical-align: top;
}

#animado .info div {
  margin-left: -109px !important;
}

#animado .info div {
  display: none;
  position: absolute !important;
  width: 300px !important;
  margin-left: -325px !important;
  background: #fff !important;
  color: #000 !important;
  padding: 20px !important;
  border: 1px solid #eaebeb !important;
  font-size: 12px !important;
  text-align: left !important;
  font-family: 'Roboto' !important;
  z-index: 999999 !important;
  min-height: 35px !important;
}

.secondary-nav a, .secondary-nav p, .secondary-nav span.tel {
  padding: 1px 12px 1px 12px;
  font-size: .9em;
  text-decoration: none;
  color: #eee;
  background: url(../bg/img/separator.png) no-repeat 100% 50%;
  font-family: 'Roboto';
  font-weight: 600;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group>svg {
  display: inline-block;
}

svg {
  max-width: 200px;
}

.jq-ry-container>.jq-ry-group-wrapper>.jq-ry-group {
  position: relative;
  line-height: 0;
  z-index: 10;
  white-space: nowrap;
}

.rate_stars_top .rateYoShop {
  float: left;
  margin-top: 3px;
}

.jq-ry-container>.jq-ry-group-wrapper {
  position: relative;
  width: 100%;
}

a {
  cursor: pointer;
  color: #1b7fcc;
  text-decoration: none;
}
a, abbr, acronym, address, applet, b, big, blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}

a:-webkit-any-link {
  /*color: -webkit-link;*/
  color: white;
  cursor: pointer;
  text-decoration: none;
  /*text-decoration: underline;*/
}

.bg-uix-button {
  display: inline-block;
  height: 28px;
  border: solid 1px transparent;
  padding: 0 10px;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  *overflow: visible;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05)
}

#search-form .consolidated-form{
  border: 2px solid transparent; 
  border-image: linear-gradient(90deg, #fea225, #f17918, #e71d57, #8971ab, #5f9eca, #70b642); 
  border-image-slice: 1;
}

.bg-uix-button-arrow {
  margin-top: -3px;
  margin-left: 5px;
  border: 1px solid transparent;
  border-top-color: #333;
  border-width: 4px 4px 0;
  width: 0;
  height: 0;
}

#footer-links-secondary a, #footer-links-secondary .copyright {
  color: #666;
  font-size: 11px;
}

#footer-logo,#footer .pickers,#footer .pickers li,#footer #google-help {
  display: inline-block;
  *display: inline;
  *zoom:1}

#footer #google-help .bg-uix-button-content {
  vertical-align: middle
}

#footer .bg-uix-button-group .bg-uix-button {
  border-radius: 2px;
}

#footer-logo {
  margin-left: 4px
}

#footer-logo img {
  vertical-align: middle;
  background: no-repeat url(favicon.png) -27px -1092px;
  background-size: auto;
  width: 52px;
  height: 52px
}

#footer-main {
  border-bottom: 1px solid #e2e2e2;
  margin-right: 45px;
  padding-bottom: 15px;
  padding-left: 4px
}

#footer-logo,#footer .pickers li {
  margin-right: 14px
}

#footer .bg-picker-button-label {
  font-weight: normal
}

#footer .bg-picker {
  margin: 10px 0
}

#footer-links {
  padding: 15px 0 15px 8px;
}

#footer-links li {
  display: inline;
  margin-right: 15px
}

#footer-links-primary {
  margin-bottom: 8px;
  font-weight: bold
}

#footer-links-primary a {
  color: #333;
}

#footer-links-primary a:hover {
  color: #1b7fcc
}

#footer-links-secondary a,#footer-links-secondary .copyright {
  color: #666;
  font-size: 11px;
}

#footer-links-secondary a {
  font-weight: bold
}

#footer-links-secondary a:hover {
  color: #1b7fcc
}

#footer .bg-picker {
  padding: 20px;
  box-shadow: none;
  border-radius: 0
}

#footer .bg-uix-button-icon-footer-language {
  /* background: no-repeat url(favicon.png) -103px -318px; */
  background-size: auto;
  width: 25px;
  height: 15px
}

#footer .bg-uix-button:hover .bg-uix-button-icon-footer-language {
  background-position: -93px -880px
}

#footer .questionmark {
  opacity: .75;
  background: no-repeat url(favicon.png) 0 -422px;
  background-size: auto;
  width: 15px;
  height: 16px
}

#footer .bg-uix-button:hover .questionmark {
  opacity: 1
}

#footer-links {
  padding: 15px 0 15px 8px;
}

#footer .bg-uix-button-group .bg-uix-button {
  border-radius: 2px;
}

.bg-uix-button-group .bg-uix-button {
  margin-right: -2px;
  border-radius: 0;
}

.bg-uix-button-icon-wrapper {
  display: inline-block;
  margin-right: 6px;
  font-size: 0;
  vertical-align: middle;
}

.bg-uix-button img, .bg-uix-button-icon-wrapper+.bg-uix-button-content {
  vertical-align: middle;
}

menu, ol, ul {
  list-style: none;
}

.content-snap-width-3 .flex-width-enabled.flex-width-enabled-snap .content-alignment {
  width: 1262px;
}

canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, html, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  background: transparent;
}

.bg-grid-site {
  width: 970px;
  margin: 0 auto;
  clear: both
}

.clearfix {
  *zoom:1}

.clearfix:before {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden
}

.clearfix:after {
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both
}

.bg-grid-1,.bg-grid-4,.bg-grid-5,.bg-grid-6,.bg-grid-7,.bg-grid-8,.bg-grid-9,.bg-grid-10,.bg-grid-11,.bg-grid-12,.bg-grid-13,.bg-grid-14,.bg-grid-15,.bg-grid-18,.bg-grid-19,.bg-grid-24 {
  float: left;
  margin-right: 14px
}

.bg-grid-container {
  margin-right: -14px;
  *zoom:1}

.bg-grid-box {
  *zoom:1}

#bg-masthead-container {
  min-width: 800px;
  background: #fff;
  border-bottom: 1px solid #e8e8e8;
  padding-top: 7px;
  padding-bottom: 8px;
}

#footer {
  margin: 0 auto;
  padding: 15px 0;
}

.branded-page-v2-body {
  min-height: 700px;
}

.branded-page-v2-col-container-inner {
  display: table-row;
}

.branded-page-v2-col-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-width-enabled.flex-width-enabled-snap .content-alignment, .content-snap-width-1 .flex-width-enabled.flex-width-enabled-snap .content-alignment {
  width: 850px;
  min-width: 0;
  max-width: none;
}

.flex-width-enabled .content-alignment {
  width: auto;
  min-width: 1003px;
  max-width: 1415px;
}
.content-alignment {
  width: 1003px;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bg-thumb-icon img, .bg-thumb-icon .vertical-align {
  display: inline-block;
  vertical-align: middle;
}

.appbar-hidden #masthead-positioner-height-offset {
  height: 50px;
}
#masthead-positioner-height-offset {
  height: 90px;
}

.site-center-aligned .bg-card {
  margin: 10px 0;
  border: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site-center-aligned .bg-scrollbar-dark ::-webkit-scrollbar {
  width: 10px;
  height: 9px
}

.bg-uix-button-default,.bg-uix-button-default[disabled],.bg-uix-button-default[disabled]:hover,.bg-uix-button-default[disabled]:active,.bg-uix-button-default[disabled]:focus {
  border-color: #b9b9b9;
  background: #f8f8f8;
  color: #333
}

.guide-pinned.show-guide .guide-pinning-enabled #page, .guide-pinned.show-guide .guide-pinning-enabled #appbar-content {
  padding-left: 230px;
}

.site-center-aligned .branded-page-v2-body .feed-item-dismissal, .exp-individual-cards .branded-page-v2-body .feed-item-dismissal {
  border: 0;
}
.branded-page-v2-body .feed-item-dismissal {
  margin-left: -15px;
  margin-right: -15px;
}
.feed-item-dismissal {
  margin-top: -1px;
  padding: 16px 0;
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
  text-align: center;
  color: #555;
}

.flex-width-enabled .feed-item-container .feed-item-main-content {
  max-width: 100%;
}

.branded-page-base-bold-titles .channel-header .branded-page-header-title .branded-page-header-title-link, .branded-page-base-bold-titles .branded-page-module-title {
  font-weight: bold;
}

.branded-page-v2-masthead-ad-header .branded-page-v2-secondary-column-hidden .branded-page-v2-primary-col,.branded-page-v2-masthead-ad-header.masthead-ad-expanded .branded-page-v2-primary-col {
  border-top: 1px solid #e2e2e2
}

.site-center-aligned .branded-page-v2-masthead-ad-header.masthead-ad-expanded .branded-page-v2-primary-col,.site-center-aligned .branded-page-v2-masthead-ad-header .branded-page-v2-secondary-column-hidden .branded-page-v2-primary-col {
  border-top: 0
}

.branded-page-v2-header {
  position: relative;
  margin: 0
}

.shelf-item .branded-page-module-title {
  overflow: visible;
  display: inline-block;
}

.shelf-item .branded-page-module-title .branded-page-module-title-text {
  margin-top: 1px;
  vertical-align: middle;
  display: inline-block;
}

.feed-item-container .branded-page-module-title .branded-page-module-title-link {
  display: inline-block;
  vertical-align: bottom;
}

.bg-thumb {
  width: 100%;
  overflow: hidden;
  background: #f1f1f1;
  font-size: 0;
  vertical-align: middle;
  display: inline-block;
  *display: inline;
  *zoom:1}

.bg-thumb .vertical-align {
  height: 100%
}

.bg-thumb img {
  font-size: 13px;
  outline: none;
  -ms-interpolation-mode: bicubic
}

/*.bg-thumb-icon {
  position: absolute;
  _position: static;
  bottom: -100px;
  top: -100px;
  left: -100px;
  right: -100px;
  text-align: center;
  white-space: nowrap;
  word-break: normal
}*/

.bg-thumb-square {
  padding-bottom: 100%;
}

.bg-thumb-icon img,.bg-thumb-icon .vertical-align {
  display: inline-block;
  vertical-align: middle
}

.branded-page-module-title a:visited, .branded-page-module-title a {
  color: #333;
}
a {
  cursor: pointer;
  color: #1b7fcc;
  text-decoration: none;
}

.branded-page-module-title {
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #333;
}

.shelf-annotation {
  font-size: 12px;
  color: #999;
  line-height: 14px;
  font-weight: normal;
}

.bg-uix-button-subscribe-branded, .bg-uix-button-subscribe-branded[disabled], .bg-uix-button-subscribe-branded[disabled]:hover, .bg-uix-button-subscribe-branded[disabled]:active, .bg-uix-button-subscribe-branded[disabled]:focus {
  color: #fefefe;
  box-shadow: 0 1px 0 rgba(0,0,0,.15);
  background-image: -moz-linear-gradient(bottom, #1a73c7 0, #2298e6 100%);
  background-image: -ms-linear-gradient(bottom, #1a73c7 0, #2298e6 100%);
  background-image: -o-linear-gradient(bottom, #1a73c7 0, #2298e6 100%);
  background-image: -webkit-linear-gradient(bottom, #1a73c7 0, #2298e6 100%);
  background-image: linear-gradient(to top, #1a73c7 0, #2298e6 100%);
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#2298e6,EndColorStr=#c7231a);
}
.bg-uix-button-subscribe-branded {
  border-width: 0 1px;
  padding: 0 8px 0 5.5px;
  height: 24px;
  max-width: 100%;
}
.bg-uix-button {
  display: inline-block;
  height: 28px;
  border: solid 1px transparent;
  padding: 0 10px;
  outline: 0;
  font-weight: bold;
  font-size: 11px;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  line-height: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
}
input, button, textarea {
  font-family: arial, sans-serif;
  font-size: 13px;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

.bg-uix-button-subscribe-branded+.bg-subscription-button-subscriber-count-branded-horizontal, .bg-uix-button-subscribe-unbranded+.bg-subscription-button-subscriber-count-unbranded-horizontal, .bg-uix-button-subscribe-branded+.bg-uix-subscription-preferences-button+.bg-subscription-button-subscriber-count-branded-horizontal, .bg-uix-button-subscribed-branded+.bg-subscription-button-subscriber-count-branded-horizontal.subscribed, .bg-uix-button-subscribed-unbranded+.bg-subscription-button-subscriber-count-unbranded-horizontal.subscribed, .bg-uix-button-subscribed-branded+.bg-uix-subscription-preferences-button+.bg-subscription-button-subscriber-count-branded-horizontal.subscribed {
  display: inline-block;
}

.bg-subscription-button-subscriber-count-branded-horizontal, .bg-subscription-button-subscriber-count-branded-vertical {
  padding: 0 6px;
  height: 22px;
  border: 1px solid #ccc;
  color: #777;
  font-size: 11px;
  text-align: center;
  line-height: 22px;
}

.bg-subscription-button-subscriber-count-branded-horizontal, .bg-subscription-button-subscriber-count-unbranded-horizontal {
  display: none;
  position: relative;
  margin-left: 6px;
  background-color: #fafafa;
  vertical-align: middle;
  border-radius: 2px;
}

.bg-subscription-button-subscriber-count-branded-horizontal, .bg-subscription-button-subscriber-count-unbranded-horizontal {
  display: none;
  position: relative;
  margin-left: 6px;
  background-color: #fafafa;
  vertical-align: middle;
  border-radius: 2px;
}

.bg-subscription-button-subscriber-count-branded-horizontal:before {
  margin-top: 2px;
  border-color: transparent #ccc;
}

.bg-subscription-button-subscriber-count-branded-horizontal:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -6px;
  border-width: 6px 6px 6px 0;
  border-style: solid;
}

.compact-shelf .shelf-action-container {
  float: right;
  display: inline-block;
}

.bg-lockup-meta-info>li {
  display: inline-block;
}

.branded-page-v2-primary-col .branded-page-box {
  border-bottom: 1px solid #e2e2e2;
}

.branded-page-box, .branded-page-box-padding {
  padding: 15px;
}

.secondary-nav p svg path {
  fill: #fff;
}

.secondary-nav p svg {
  width: 16px;
  vertical-align: text-bottom;
  margin-right: 3px;
} 

.languages #languages-tool {
  display: block;
}

.languages {
  padding-bottom: 0px;
  display: inline-block;
}

.languages .languages-detach a, .languages .languages-detach p {
  padding: 0;
  border: none;
  color: #000;
  display: block;
  cursor: pointer;
  padding-left: 20px;
  margin-left: 5px;
}

.languages .languages-detach {
  display: none;
  position: absolute;
  padding: 5px 5px 5px 5px;
  background-color: #fff !important;
  z-index: 9;
  right: 9px;
  width: auto;
  text-align: left;
  margin-top: 5px;
  background: #fff;
  border: 1px solid #fff;
}

#guide-container {
  width: 230px;
  padding: 13px 22px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.guide-pinned .guide-pinning-enabled #appbar-guide-menu {
  border-right: 1px solid #e8e8e8;
  box-shadow: none;
}

.show-guide #appbar-guide-menu {
  box-shadow: 5px 10px 15px 5px rgba(0, 0, 0, .1);
}
#appbar-guide-menu, .guide-flyout {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  z-index: 1999999999;
}
#appbar-guide-menu {
  width: 230px;
  height: auto;
  max-height: 100%;
}

.guide-pinned .guide-pinning-enabled .appbar-guide-menu-layout {
  height: 100%;
  bottom: 0;
}

.guide-item .display-name.no-count {
  width: 140px;
}

.guide-item .display-name {
  vertical-align: bottom;
}
.guide-item .display-name {
  width: 110px;
  margin-left: 6px;
  line-height: 20px;
}
.guide-item .display-name {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.show-guide .appbar-guide-menu-layout {
  visibility: visible;
  left: 0;
  opacity: 1;
  -moz-transition: opacity .1s;
  -webkit-transition: opacity .1s;
  transition: opacity .1s;
}

.appbar-guide-menu-layout {
  position: fixed;
  width: 230px;
  top: 0;
  visibility: hidden;
  left: -230px;
  opacity: 0;
  -moz-transition: opacity .1s, visibility 0s .1s;
  -webkit-transition: opacity .1s, visibility 0s .1s;
  transition: opacity .1s, visibility 0s .1s;
}
.appbar-guide-menu-layout {
  margin-top: 50px;
}

.bg-valign:before, .bg-valign-container {
  vertical-align: middle;
  display: inline-block;
}

.guide-item {
  overflow: hidden;
}

.guide-item {
  color: #222;
  height: 28px;
  font-size: 12px;
}
.guide-item, .guide-view-more {
  display: block;
  position: relative;
  border: none;
  background: none;
}
.bg-valign {
  white-space: nowrap;
}

.guide-header p {
  margin: 10px 0;
}

.guide-section.signup-promo {
  padding: 0;
  line-height: 1.3em;
}

.bg-base-gutter p svg path {
  fill: #333333;
}

.bg-base-gutter p svg {
  width: 16px;
  vertical-align: text-bottom;
  margin-right: 3px;
}

.bg-base-gutter p svg {
  width: 16px;
  vertical-align: text-bottom;
  margin-right: 3px;
}